.container {
	width: 100%;
	max-width: 800px;
	margin: {
		right: auto;
		left: auto;
	}

	&--modal {
		padding: 40px;
		border: {
			radius: 10px;
		}
		background: {
			color: rgb(211, 215, 255);
		}
		box-shadow: 2px 10px 20px #000000;
	}
}