.remove {
	position: absolute;
	transition: background 300ms, opacity 300ms;
	border: {
		width: 0;
		radius: 4px;
	}
	background: {
		color: rgb(255, 54, 54);
	}
	color: #ffffff;
	font: {
		size: 18px;
	}
	cursor: pointer;
	text-transform: uppercase;

	&:hover {
		transition: background 300ms, opacity 300ms;
		background: {
			color: rgb(255, 105, 105);
		}
	}
}